
/****************************************************************************/
/* COLORS */
/****************************************************************************/

$color-primary: #000;
$color-secondary: #000;
$color-text: #000;


/****************************************************************************/
/* FONTS */
/****************************************************************************/

$font-primary: 'Gilroy', sans-serif;


/****************************************************************************/
/* BREAKPOINTS */
/****************************************************************************/

$bp-xs: 320px;
$bp-sm: 640px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1440px;

$grid-breakpoints: (
  xs: 0,
  sm: $bp-sm,
  md: $bp-md,
  lg: $bp-lg,
  xl: $bp-xl
);
